<div class="review-rating" data-score="<%= review.rating %>">

</div>
<p><%= review.comment %></p>


<% if user_signed_in? %>

  <% if review.user_id == current_user.id %>


<%= link_to 'Edit', edit_movie_review_path(review.movie, review) %>
<%= link_to "Delete", movie_review_path(review.movie, review), method: :delete,
                                                                data: { confirm: "Confirm Deletion?" } %>
<% end %>
<% end %>
